<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title> QR-Code-Auth Login Test-Seite </title>

        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
        <!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous" -->

        <style>
          p { margin-left: 2em; 
	      /* This text is in Calibri */
	      font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
	  }
          .content { margin-left: 2em; margin-top: 1em; }
  	  .bottom-three { margin-bottom: 3cm; }
  	  .bottom-one { margin-bottom: 1cm; }

          h1 { font-size: 120%; margin-top: 1em; }
          h2 { font-size: 110%; margin-top: 1em; }
          h3 { font-size: 105%; margin-top: 1em; font-style: italic; }
          h4 { font-size: 100%; font-style: italic; }
	  fieldset {
                    margin-top: 1em;
		    margin-left: 2px;
		    margin-right: 2px;
		    padding-top: 0.35em;
		    padding-bottom: 0.625em;
		    padding-left: 0.75em;
		    padding-right: 0.75em;
		    border: 2px groove;
	  }
	  legend {
		  padding:10px;
		  text-align:"right";
                  font-size: 105%;
	  }
          textarea {
                  caret-color: red;
                  width: 50em;
                  height: 15em;
                  border: 1px solid #cccccc;
                  padding: 0.5em;
                  font-family: Tahoma, sans-serif;
          }
  
          textarea:focus {
                  background: #FFC;
          }

        </style>

    </head>

    <body>

    <div class="content">

    <h1> Login via QC-Code und Companion-App auf einem Handy </h1>

    <p> Der Nutzer will auf Webseiten zugreifen, die eine Authentifizierung
    erfordern.  Der Keycloak präsentiert eine Login-Seite, die einen QR-Code
    enthält. Falls die TIAuth-Webextension im lokalen Browser installiert ist,
    entfernt diese den QR-Code und führt die "normale" Authentisierung durch.
    Wir nehmen im Experiment an, dass der Nutzer keine Webextension installiert 
    hat, damit sieht er bspw. folgenden QR-Code.
    </p>

    <table width="80%">
        <tr>
            <td>

    <p> QR-Code: </p>

        {{ myqrcode|safe }}
    <script type="text/javascript">
        'use strict';
        window.setInterval(function() {
            var request = new XMLHttpRequest();
            var res;
            request.onload = () => {
                if (request.status==200) {
                    if (request.responseType !== 'json') {
                        console.log("upps, responseType, ", request.responseType);
                        res=JSON.parse(request.responseText);
                    } else {
                        res=request.response;
                        console.log(res);
                    }
                    if (res.Result=="Redirect") {
                        console.log("OK Redirect");
                        window.location.href='/ok.html';
                    }
                } else {
                    console.log("upps, request.status, ", request.status);
                }
            };
            request.open('POST', '{{myreturn_url|safe}}', true);
            request.responseType='json';
            request.setRequestHeader('Accept', 'application/json');
            request.setRequestHeader('Content-Type', 'application/json');
            // kann man noch besser machen
            var j = {
                "QueryLoginStatus":"1",
                "CH_URL":"{{myqrdata|safe}}",
            };
            request.send(JSON.stringify(j));
        }, 2000);
    </script>

            </td> <td>

    <p> Im o. g. QR-Code ist eine Challenge (&gt; 120 Bit Entropie) kodiert: <p>
    <pre> 
    {{ myqrdata }} </pre>
    <p> Im Handy ist für das Protokoll "tiauth://" die Companion-App als
    Handler eingetragen, so wie für "http://" es der Default-Webbrowser ist.
    An dem Handy ist entweder ein HBA (via NFC) verfügbar, oder ein Konnektor
    ist über WLAN ansteuerbar (Authentisierung am Konnektor, MandantenID etc.).  </p>

    <p> Der QR-Code ist ein SVG-Objekt, lässt sich also gut skalieren (Zoom).
    Der nebenstehende QR-Code ist schon mit Faktor 5 vergrößert. </p>

    <p> Neben dem QR-Code hat der Server noch ein JavaScript-Programm
    mitgeschickt, dass den Server regelmäßig (bspw. im 2-Sekunden-Takt) fragt,
    ob schon eine gültige Antwort bei ihm angekommen ist. Falls ja setzt das
    JavaScript-Programm, einen Cookie den der Server im Positiv-Fall (Ja,
    authentifiziert) mitschickt und macht dann ein HTTP-Redirect auf einen
    vom Server gewünschte Seite.
    </p>

    <p>
    Das mit dem Polling ist nicht optimal, es läßt sich technisch besser mittels
    Websockets oder mit Long-Waiting-Requests (Web Requests with Asynchronous
    Request Processing) lösen.
    </p>

            </td> 
        </tr>
    </table>

    <p> ENDE / Login-Seite endet hier. Der Nutzer sieht den unten stehenden
    Text nicht. </p>

    <hr width="80%">

    <p>
    Wenn man auf den roten Kreis unten drückt wird ein AJAX-Script aktiviert,
    dass das Handy (inkl. HBA) simuliert. Es schickt "quasi unabhängig" (ist
    also keine Funktionalität der zukünftigen Login-Seite) die neben den Kreis
    stehende Signatur an den Server, so wie es die Companion-App auf dem Handy
    auch machen würde. </p>

    <table width="80%"> <tr> <td>

    <script type="text/javascript">
    // https://stackoverflow.com/questions/12274748/setting-multiple-attributes-for-an-element-at-once-with-javascript
    function setAttributes(el, attrs) {
      for(var key in attrs) {
        el.setAttribute(key, attrs[key]);
      }
    }
    function mysubmit() {
        'use strict';
        var request = new XMLHttpRequest();
        request.onload = () => {
            if (request.status==200) {
                if (request.responseType !== 'json') {
                    console.log("upps, responseType, ", request.responseType);
                    console.log(request.response);
                } else {
                    console.log(request.response);
                }
            } else {
                console.log("upps, request.status, ", request.status);
            }
        };
        request.open('POST', '{{myreturn_url|safe}}', true);
        request.responseType='json';
        request.setRequestHeader('Accept', 'application/json');
        request.setRequestHeader('Content-Type', 'application/json');
        var j = {
            "CH_URL":"{{myqrdata|safe}}",
            "AuthSig":"{{mysig}}",
            "AUTCert":"{{mycert}}",
            "Cert1":"",
            "Cert2":"",
        };
        request.send(JSON.stringify(j));
        let x=document.getElementById('mysvg');
        if (x !== null) {
            var t=document.createElementNS("http://www.w3.org/2000/svg", "circle");
            setAttributes(t, { "cx" : 40, "cy" : 40, "r": 30, "fill" : "black" });
            x.appendChild(t);
            var te=document.createElementNS("http://www.w3.org/2000/svg", "text");
            setAttributes(te, { "x" : 0, "y" : 40, "fill" : "green" });
            te.innerHTML="Handy: Ich habe abgeschickt.";
            x.appendChild(te);

            console.log("done");
        } else {
            console.log("ups, where is my svg object");
        }
    }
    </script>

    <svg height="80" width="320" onclick="mysubmit()" id="mysvg">
        <circle cx="40" cy="40" r="30" stroke="black" stroke-width="3" fill="red" />
        Sorry, your browser does not support inline SVG.
    </svg>

    </td> <td>

        <pre>
            {
            "CH_URL":"{{myqrdata|safe}}",
            "AuthSig":"{{mysig}}",
            "AUTCert":"{{mycert}}",
            "Cert1":"",
            "Cert2":"",
            }
        </pre>

    </td> </tr> </table>

    <p> Oder per commandline: </p>
    <pre>
    curl -H "Content-type: application/json" -X POST '{{myreturn_url|safe}}' -d '
            {
            "CH_URL":"{{myqrdata|safe}}",
            "AuthSig":"{{mysig}}",
            "AUTCert":"{{mycert}}",
            "Cert1":"",
            "Cert2":""
            }
    ' -D -
    </pre>
    <p> Hinweis: wenn man dieses Kommando aus der INT-Domaine abschicken will,
    so muss man noch die entsprechenden Proxy-Einstellungen hinzufügen. </p>


    </div>
    </body>
</html>

